In [5]:
import pandas as pd

# Isso é um texto em md

In [52]:
df = pd.DataFrame(dados, columns=['times','estados', 'titulos'])

In [53]:
df.shape

(3, 3)

In [54]:
df

         times         estados  titulos
0  Corinthians       São Paulo       12
1     Flamengo  Rio de Janeiro       15
2        Sport          Recife        2

In [55]:
type(df)

pandas.core.frame.DataFrame

In [56]:
df.to_csv('new_dados.csv')

In [66]:
df.loc[2]

times       Sport
estados    Recife
titulos         2
Name: 2, dtype: object

In [104]:
df = pd.read_csv('Dados.csv', sep=';', header=0, encoding='utf-8', usecols=['AddressID', 'City', 'StateProvinceID'])

In [106]:
df.to_csv('new_dados.csv')

In [82]:
df[(df.StateProvinceID == 9) & (df.City == 'Torrance')]

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
304,305,7179 Montana,NaN,Torrance,9,90505,0xE6100000010C2AA09145C8ED4040A03BF4F56A905DC0,36C666A9-AFEF-42BE-A4EE-EF8002677F1F,2011-05-09 00:00:00.000
326,327,3 Chablis Court,NaN,Torrance,9,90505,0xE6100000010C16008FEF7BEC40401E920CDE2C915DC0,EF4B0EF8-0E38-42CC-9151-9918A5274248,2011-12-24 00:00:00.000

In [83]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000